@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(30, 30, 30);
}

#main {
    width: 100%;
    height: auto;
}

a {
    color: rgb(44, 98, 168);
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
}

a:hover {
    color: rgb(70, 119, 184);
    text-decoration: underline;
}

.link-dark {
    color: rgb(100, 100, 100);
}

.link-dark:hover {
    color: rgb(120, 120, 120);
}

.link-light-dark {
    color: rgb(150, 150, 150);
}

.link-light-dark:hover {
    color: rgb(180, 180, 180);
}

.is-title-font {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.0);
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(180, 180, 180) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(190, 190, 190);
}

.navbar-dropdown {
    background-color: rgb(50, 50, 48);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: rgb(50, 50, 48);
    }
}

.is-navbar-button {
    top: -6px;
}

.cookie-consent {
    position: relative;
    display: none;
    width: 100%;
    background-color: rgb(60, 60, 58);
    color: rgb(180, 180, 180);
    font-size: 0.8em;
    z-index: 5;
}

.cookie-consent-inner {
    position: relative;
    display: inline-block;
    width: auto;
    @media screen and (max-width: 1279px) {
        width: 76%;
    }
    text-align: center;
    padding: 24px;
}

.cookie-consent-button {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 25px;
    padding: 24px;
}

.cookie-consent-button a:hover {
    color: rgb(150, 150, 150);
}

.nav-sorting {
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: 1088px) {
        display: none;
    }
}

.nav-sorting-item {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-sorting-item a {
    color: rgb(190, 190, 190);
}

.nav-sorting-item a:hover {
    color: rgb(190, 190, 190);
    text-decoration: underline;
}

.nav-sorting-item-top {
    position: relative;
    top: 5px;
}

.info {
    position: relative;
    border: 3px solid rgb(20, 143, 25);
}

.info-title {
    padding: 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(200, 200, 200);
    background-color: rgba(31, 220, 40, 0.3);
}

.info-content {
    padding: 20px;
    color: rgb(150, 150, 150);
    background-color: rgba(31, 220, 40, 0.1);
}

.media-frame {
    width: 100%;
    min-height: 400px;
    height: auto;
    background-color: rgb(50, 50, 50);
}

.media-settings {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 20px;
}

.media-content {
}

.media-info {
    padding: 20px;
    color: rgb(150, 150, 150);
}

.media-info h2 {
    font-size: 1.3em;
}

.media-info p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.media-cards {
    padding: 20px;
}

.media-card-item {
    position: relative;
    display: inline-block;
    width: 192px;
    height: 192px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 4px;
    cursor: pointer;
}

.media-card-item:hover {
    border: 1px solid rgb(250, 250, 250);
}

.media-card-item-title {
    padding: 10px;
    font-size: 1.2em;
    color: rgb(200, 200, 200);
    background-color: rgb(100, 100, 100);
}

.media-card-item-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 74%;
}

.media-list {
    padding: 20px;
}

.media-list-item {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.media-list-item a {
    color: rgb(150, 150, 150);
}

.media-list-item a:hover {
    color: rgb(180, 180, 180);
}

.item {
    margin-bottom: 20px;
}

.item-header {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.item-author {
    position: relative;
    display: inline-block;
}

.item-date {
    position: relative;
    display: inline-block;
    float: right;
}

.item-title {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.5em;
    color: rgb(150, 150, 150);
}

.item-media {
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.item-media img {
    @media screen and (min-width: 768px) {
        width: 50%;
        height: 50%;
    }
}

.item-footer {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding: 20px;
}

.item-comments {
    display: inline-block;
    color: rgb(150, 150, 150);
}

.item-subscribers {
    display: inline-block;
    color: rgb(150, 150, 150);
}

.item-goto {
    display: inline-block;
    float: right;
}

.footer {
    width: 100%;
    color: rgb(150, 150, 150);
    background-color: rgb(80, 80, 80);
    padding: 1rem 1.5rem 1rem;
}

.scroll-to-top {
    position: fixed;
    z-index: 3;
    bottom: 12px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(100, 100, 100);
    border-radius: 45%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page {
    padding: 20px;
}

.page h1 {
    font-size: 1.5em;
}

.page-content {
    margin-top: 20px;
}

.footer-frame {
    width: 100%;
    @media screen and (min-width: 769px) {
        height: 52px;
    }
}

.footer-content {
    position: relative;
    @media screen and (min-width: 769px) {
        top: 9px;
    }
    @media screen and (max-width: 768px) {
        top: -3px;
    }
    text-align: center;
}

.star-color {
    color: rgb(179, 143, 23);
}

.up-color {
    color:rgb(50, 50, 50);
}

.non-mobile {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.no-bottom-padding {
    padding-bottom: unset;
}

.is-pointer {
    cursor: pointer;
}

.media-video {
    width: 500px;
    height: 500px;
}

.media-video-preview {
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 812px) {
        width: 500px;
    }
    height: 222px;
}

.media-video-preview-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.media-video-preview-inner {
    position: relative;
    top: 43%;
    color: rgb(200, 200, 200);
}

.nav-hidden-desktop {
    @media screen and (max-width: 1088px) {
        display: none;
    }
}