@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(30, 30, 30);
}

#main {
    width: 100%;
    height: auto;
}

a {
    color: rgb(44, 98, 168);
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
}

a:hover {
    color: rgb(70, 119, 184);
    text-decoration: underline;
}

.text-dark {
    color: rgb(100, 100, 100);
}

.text-bright {
    color: rgb(150, 150, 150);
}

.link-dark {
    color: rgb(100, 100, 100);
}

.link-dark:hover {
    color: rgb(120, 120, 120);
}

.link-light-dark {
    color: rgb(150, 150, 150);
}

.link-light-dark:hover {
    color: rgb(180, 180, 180);
}

.is-title-font {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.is-index-headline {
    margin-top: 15px;
    @media screen and (max-width: 815px) {
        text-align: center;
    }
}

.is-infotext-top {
    margin-top: 30px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.0);
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(180, 180, 180) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(190, 190, 190);
}

.navbar-dropdown {
    background-color: rgb(50, 50, 48);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: rgb(50, 50, 48);
    }
}

.navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
    @media screen and (min-width: 1088px) {
        display: none;
    }
}

.navbar-desktop {
    position: relative;
    display: none;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    @media screen and (max-width: 1088px) {
        display: none;
    }
}

.is-navbar-button {
    top: -6px;
}

.is-nav-category {
    color: rgb(150, 150, 150);
    font-weight: bold;
}

.is-nav-item {
    margin-left: 10px;
}

.is-underline {
    text-decoration: underline;
}

.has-bottom-space {
    margin-bottom: 30px;
}

.float-right {
    float: right;
}

.input-dark {
    background-color: rgb(50, 50, 48);
    color: rgb(150, 150, 150);
}

.dropdown-content {
    background-color: rgb(50, 50, 50);
}

.dropdown-item {
    color: rgb(150, 150, 150);
}

a.dropdown-item:hover {
    color: rgb(150, 150, 150);
    background-color: rgb(50, 50, 50);
    text-decoration: underline;
}

.dropdown-trigger i {
    color: rgb(100, 100, 100);
}

.label {
    color: rgb(150, 150, 150);
}

.input, .textarea {
    background-color: rgb(100, 100, 100);
}

.input::placeholder, .textarea::placeholder, .select::placeholder {
    color: rgb(20, 20, 20);
}

.cookie-consent {
    position: relative;
    display: none;
    width: 100%;
    background-color: rgb(60, 60, 58);
    color: rgb(180, 180, 180);
    font-size: 0.8em;
    z-index: 5;
}

.cookie-consent-inner {
    position: relative;
    width: auto;
    text-align: center;
    padding: 24px;
}

.cookie-consent-button {
    position: relative;
    margin-right: 25px;
    padding-bottom: 24px;
}

.cookie-consent-button a:hover {
    color: rgb(150, 150, 150);
}

.nav-sorting {
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: 1088px) {
        display: none;
    }
}

.nav-sorting-item {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-sorting-item a {
    color: rgb(190, 190, 190);
}

.nav-sorting-item a:hover {
    color: rgb(190, 190, 190);
    text-decoration: underline;
}

.nav-sorting-item-top {
    position: relative;
    top: 5px;
}

.info {
    position: relative;
}

.info-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.info-content {
    padding: 20px;
}

.info-box-green {
    border: 1px solid rgb(20, 143, 25);
}

.info-header-green {
    background-color: rgba(31, 220, 40, 0.3);
    color: rgb(200, 200, 200);
}

.info-content-green {
    color: rgb(150, 150, 150);
    background-color: rgba(31, 220, 40, 0.1);
}

.info-content-green strong {
    color: rgb(185, 185, 185);
}

.info-box-violet {
    border: 1px solid rgb(130, 130, 255);
}

.info-header-violet {
    background-color: rgba(72, 72, 145, 0.4);
    color: rgb(200, 200, 200);
}

.info-content-violet {
    color: rgb(150, 150, 150);
    background-color: rgba(130, 130, 255, 0.4);
}

.info-content-violet a {
    color: rgb(68, 143, 234);
}

.info-content-violet a:hover {
    color: rgb(94, 167, 255);
}

.info-content-violet strong {
    color: rgb(185, 185, 185);
}

.info-box-red {
    border: 1px solid rgb(123, 68, 68);
}

.info-header-red {
    background-color: rgba(205, 40, 38, 0.4);
    color: rgb(200, 200, 200);
}

.info-content-red {
    color: rgb(150, 150, 150);
    background-color: rgba(205, 40, 38, 0.1);
}

.info-content-red strong {
    color: rgb(185, 185, 185);
}

.info-box-blue {
    border: 1px solid rgb(20, 85, 143);
}

.info-header-blue {
    background-color: rgba(35, 90, 245, 0.3);
    color: rgb(200, 200, 200);
}

.info-content-blue {
    color: rgb(150, 150, 150);
    background-color: rgba(23, 0, 168, 0.3);
}

.info-content-blue strong {
    color: rgb(185, 185, 185);
}

.media-frame {
    width: 100%;
    min-height: 400px;
    height: auto;
    background-color: rgb(50, 50, 50);
}

.media-settings {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 20px;
}

.media-content {
}

.media-info {
    padding: 20px;
    color: rgb(150, 150, 150);
}

.media-info h2 {
    font-size: 1.3em;
}

.media-info p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.media-cards {
    padding: 20px;
    @media screen and (max-width: 450px) {
        text-align: center;
    }
}

.media-cards h3 {
    margin-bottom: 12px;
    font-size: 1.2em;
    color: rgb(150, 150, 150);
}

.media-card-item {
    position: relative;
    display: inline-block;
    width: 215px;
    height: 205px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 4px;
    @media screen and (max-width: 450px) {
        width: 154px;
        height: 154px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 7px;
    }
}

.media-card-item:hover {
    border: 1px solid rgb(250, 250, 250);
}

.media-card-item-title {
    padding: 10px;
    font-size: 1.2em;
    color: rgb(200, 200, 200);
    background-color: rgb(100, 100, 100);
    @media screen and (max-width: 450px) {
        text-align: left;
        font-size: 0.9em;
    }
}

.media-card-item-title a {
    color: rgb(200, 200, 200);
}

.media-card-item-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 76%;
    @media screen and (max-width: 450px) {
        height: 73%;
    }
}

.media-list {
    padding: 20px;
}

.media-list-item {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.media-list-item a {
    color: rgb(150, 150, 150);
}

.media-list-item a:hover {
    color: rgb(180, 180, 180);
}

.item {
    margin-bottom: 20px;
}

.item-header {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.item-author {
    position: relative;
    display: inline-block;
}

.item-right {
    position: relative;
    display: inline-block;
    float: right;
}

.item-date {
    display: inline-block;
    margin-right: 15px;
}

.item-share {
    display: inline-block;
}

.item-title {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.5em;
    color: rgb(150, 150, 150);
}

.item-media {
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.item-media img {
    @media screen and (min-width: 768px) {
        width: 50%;
        height: 50%;
    }
}

.item-footer {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding: 20px;
}

.item-comments {
    display: inline-block;
    color: rgb(150, 150, 150);
}

.item-subscribers {
    display: inline-block;
    color: rgb(150, 150, 150);
}

.item-right {
    display: inline-block;
    float: right;
    color: rgb(120, 120, 120);
}

.subs-overlay {
    position: fixed;
    display: none;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 52px;
    left: 0;
    background-color: rgb(50, 50, 50);
}

.subs-overlay-content {
    width: 100%;
    overflow-y: auto;
    padding-bottom: 120px;
}

.subs-overlay-content-close {
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
    z-index: 5;
    font-size: 0.8em;
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

.footer {
    width: 100%;
    color: rgb(150, 150, 150);
    background-color: rgb(80, 80, 80);
    padding: 1rem 1.5rem 1rem;
    @media screen and (min-width: 769px) {
        padding-bottom: 35px;
    }
}

.scroll-to-top {
    position: fixed;
    z-index: 5;
    bottom: 12px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-to-top-above-bottomnav {
    @media screen and (max-width: 1087px) {
        bottom: 50px;
    }
}

.page {
    padding: 20px;
    color: rgb(150, 150, 150);
    background-color: rgb(50, 50, 50);
}

.page h1 {
    font-size: 1.5em;
}

.page-content {
    margin-top: 20px;
}

.footer-frame {
    width: 100%;
    /*@media screen and (min-width: 769px) {
        height: 76px;
    }*/
}

.footer-content {
    position: relative;
    @media screen and (min-width: 769px) {
        top: 9px;
    }
    @media screen and (max-width: 768px) {
        top: -3px;
    }
    text-align: center;
}

.star-color {
    color: rgb(179, 143, 23);
}

.up-color {
    color:rgb(50, 50, 50);
}

.non-mobile {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.no-bottom-padding {
    padding-bottom: unset;
}

.is-pointer {
    cursor: pointer;
}

.media-video {
    width: 500px;
    height: 500px;
}

.media-video-preview {
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 812px) {
        width: 500px;
    }
    height: 222px;
}

.media-video-preview-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.media-video-preview-inner {
    position: relative;
    top: 43%;
    color: rgb(200, 200, 200);
}

.nav-hidden-desktop {
    @media screen and (max-width: 1088px) {
        display: none;
    }
}

.visitor-summary {
    margin-top: 10px;
}

.stats-input {
    padding: 8px;
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.is-link-grey {
    color: rgb(150, 150, 150);
}

.is-link-grey:hover {
    color: rgb(150, 150, 150);
}

.paragraph {
    margin-top: 10px;
    margin-bottom: 15px;
}

.no-padding-top {
    padding-top: 0px;
}

.video-categories {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.video-category {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.video-category-enabled {
    background-color: rgb(100, 100, 100);
}

.video-category a {
    color: rgb(150, 150, 150);
}

.video-category a:hover {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.video-title {
    margin-bottom: 23px;
    text-align: center;
}

.video-title a {
    font-size: 1.2em;
}

.video-swiper {
    position: absolute;
    margin-top: 54px;
    z-index: 3;
    width: 100%;
    height: 383px;
    background: transparent;
    @media screen and (min-width: 1089px) {
        display: none;
    }
}

.video-content {
}

.video-controls {
    margin-top: 15px;
    text-align: center;
}

.favorite-item {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.favorite-actions {
    margin-top: -12px;
    padding-left: 10px;
}

.fav-icon-add {
    color:rgb(20, 143, 25);
}

.fav-icon-remove {
    color: rgb(154, 73, 69);
}

.creators, .favorites {
    @media screen and (max-width: 450px) {
        text-align: center;
    }
}

.has-small-button-next {
    width: 87%;
}

.bottomnav {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgb(150, 150, 150);
    @media screen and (min-width: 1087px) {
        display: none;
    }
}

.bottomnav-items {
    position: relative;
    display: block;
    width: 385px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bottomnav-item {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
    margin-top: 6px;
    color: rgb(50, 50, 50);
    text-align: center;
}

.bottomnav-item a {
    color: rgb(50, 50, 50);
}

.bottomnav-item a:hover {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.auth {
    position: fixed;
    text-align: center;
    padding: 20px;
    top: 10%;
    @media screen and (min-width: 1472px) {
        left: 27%;
    }
}

.auth-header {
    position: relative;
}

.auth-header img {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.auth-header h1 {
    font-size: 2.5em;
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.auth-hint {
    position: relative;
    margin-top: 35px;
    margin-bottom: 45px;
}

.auth-info {
    position: relative;
    margin-bottom: 43px;
    color: rgb(154, 73, 69);
}

.auth-form {
    position: relative;
}

.auth-form input[type=submit] {
    width: 100%;
}

.auth-contact {
    position: relative;
    margin-top: 50px;
}